@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<ul class="navbar-nav">
    @if (Context.Session.GetString("KAdi") != null)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-action="Cikis" asp-controller="KullaniciIslemleri"><i class="fas fa-sign-out-alt"></i> Çıkış</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-action="Detay" asp-controller="KullaniciIslemleri"><i class="fas fa-user"></i> @Context.Session.GetString("KAdi")</a>
        </li>

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-action="Giris" asp-controller="KullaniciIslemleri"><i class="fas fa-sign-in-alt"></i> Giriş</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-action="Kayit" asp-controller="KullaniciIslemleri"><i class="fas fa-user"></i> Kayıt</a>
        </li>

    }
</ul>
@if (Context.Session.GetString("Turu") == "Admin" || Context.Session.GetString("Turu") == "User")
{
    <li class="nav-item">
        <a class="btn btn-outline-primary btn-sm nav-link" asp-area="" asp-controller="KategoriYonetimi" asp-action="Index"><i class="fas fa-tools"></i> Yönetim Paneli</a>
    </li>
}