@model IEnumerable<BerkayMarket.Models.MarketViewModels.SiparisDateGroup>

@{
    ViewData["Title"] = "Musteri Body Statistics";
}

<h2>Musteri Body Statistics</h2>

<table>
    <tr>
        <th>
            Siparis Date
        </th>
        <th>
            Musteris
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SiparisDate)
            </td>
            <td>
                @item.MusteriCount
            </td>
        </tr>
    }
</table>